SampleCode/Node-Red/Node-Red_flows.json
[{"id":"e32ddc1f.4dbce","type":"function","z":"1cfa3c1f.3d0dac","name":"Get Data","func":"var buf = new Buffer(8); \n\nbuf[0]=0x53;//start\nbuf[1]=0x64;//i2c addr\nbuf[2]=0x01;//send data 1\nbuf[3]=0x00;//get_serial_id\nbuf[4]=0x53;//restart\nbuf[5]=0x64+1;//i2c addr+1, write addr+1 = read addr, \nbuf[6]=0x10;//recieve data 2\nbuf[7]=0x50;//stop\n\nmsg.payload = buf;\nreturn msg;\n","outputs":1,"noerr":0,"x":366,"y":160.56666564941406,"wires":[["e4d4425c.b08a88"]]},{"id":"d773d748.d301d8","type":"inject","z":"1cfa3c1f.3d0dac","name":"EnvSensor","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":127,"y":160.56666564941406,"wires":[["e32ddc1f.4dbce"]]},{"id":"e4d4425c.b08a88","type":"serial request","z":"1cfa3c1f.3d0dac","name":"","serial":"7b1a2a97.73a96c","x":580,"y":160.56666564941406,"wires":[["ea00a6b2.52b87"]]},{"id":"89329ebe.d9e468","type":"debug","z":"1cfa3c1f.3d0dac","name":"結果","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":955.0000152587891,"y":159.56654357910156,"wires":[]},{"id":"ea00a6b2.52b87","type":"function","z":"1cfa3c1f.3d0dac","name":"チェックデータ","func":"var res={id:\"\",flg:\"\",tmp:0.0,hmd:0.0,eth:0.0,tvoc:0.0,eco2:0.0,iaq:0.0,rcda:0.0};\n\n\nif(msg.payload[0]==0x43)res.id=\"Sensor is Found!\";\nelse res.id=\"Sensor is NOT Found!\";\n\nif(msg.payload[1]==0x01)res.flg=\"CO2 Sensor is Ready!\";\nelse res.flg=\"CO2 Sensor is NOT Ready!\";\n\nvar intTmp=((msg.payload[2]&0xFF)<<8)+msg.payload[3];\nvar intHmd=((msg.payload[4]&0xFF)<<8)+msg.payload[5];\nvar intEth=((msg.payload[6]&0xFF)<<8)+msg.payload[7];\nvar intTvoc=((msg.payload[8]&0xFF)<<8)+msg.payload[9];\nvar intEco2=((msg.payload[10]&0xFF)<<8)+msg.payload[11];\nvar intIaq=((msg.payload[12]&0xFF)<<8)+msg.payload[13];\nvar intRcda=((msg.payload[14]&0xFF)<<8)+msg.payload[15];\n\nif(intTmp>0x8000)intTmp=0xFFFFF000|(intTmp&0x7FFF);\n\n\nres.tmp=intTmp/100.0;\nres.hmd=intHmd/100.0;\nres.eth=intEth/100.0;\nres.tvoc=intTvoc/100.0;\nres.eco2=intEco2/10.0;\nres.iaq=intIaq/100.0;\nres.rcda=intRcda/100.0;\n\nmsg.payload=res;\nreturn msg;","outputs":1,"noerr":0,"x":748.566650390625,"y":261.566650390625,"wires":[["89329ebe.d9e468"]]},{"id":"7b1a2a97.73a96c","type":"serial-port","z":"","serialport":"COM6","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"30","bin":"bin","out":"time","addchar":"","responsetimeout":"500"}]